<ion-slides [options] = "slideOpts">
  <i-slide *ngFor="let pares of PeliculasNuevas | pares">

    <ion-row>
      <ion-col size="12" **ngFor="let Pelicula of pares">
        <ion-card (click)="verDetalle( Pelicula.id )">
          <img class="poster" 
                 [src]="Pelicula.poster_path | imagen">
          </ion-card>
      </ion-col>
    </ion-row>
  </i-slide> 

  <ion-slide class="slide-mas">
    <ion-button class="btn-mas" expand="full" size="large" (click)="onClick()">
      <ionn-icon slot="icon-only" name="add"></ionn-icon>
    </ion-button>
  </ion-slide>
  
</ion-slides>


