<ion-content >

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <h3>Peliculas Nuevas</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slideshow-backdrop [peliculas]="PeliculasNuevas"></app-slideshow-backdrop>

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <h3>Cartelera</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<app-slide-show-poster [peliculas]="PeliculasNuevas"> </app-slide-show-poster>

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <h3>Populares</h3>
    </ion-col>
  </ion-row>
</ion-grid>

<aapp-slide-show-pares [peliculas]="populares"> </app-slide-show-pares>
</ion-content>
